html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgba(4, 4, 131, 0.644);
  overflow-x:hidden;
}
body{
}
#battleship_logo {
  display: block;
  margin-left: auto;
  margin-right:auto;
  position: relative;
  top: -20px;
  height: 200px;
}

#play_button {
  position: absolute;
  left:50%;
  top:50%;
  margin-left: -185px;
  margin-top: -85px;
  height: 150px;
  width: 350px;
  background-color: lightgray;
  border: 10px solid black;
  cursor: pointer;
}
#play_button p {
  display: block;
  width:100%;
  text-align: center;
  font-size: xxx-large;
}
#play_button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(3);
  transform: scale(1.2);
  
}
.nail {
  position: absolute;
  display: inline-block;
  height:15%;
  width:7%;
  background-color: darkgray;
  z-index: 5;
  border-radius: 50%;
  margin: 5px;
}
#nail_2{
  left:90%;
}
#nail_3{
  top:78%;
}
#nail_4{
  left:90%;
  top:78%;
}

#body_container{
  display: flex;
  justify-content: space-evenly;
}

#board_container{
  height: 500px;
  width:500px;
  border: 8px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.grid_block{
  margin: 0;
  border:1px solid black;
  height:48px;
  width:48px;
}
.open_block{
  height:48px;
  width:48px;
  margin: 0;
  background-color: yellow;
}
#ship_select_container{
  height:500px;
  width:325px;
  border:4px solid black;
}
.ship_1_block{
margin: 0;
border:1px solid black;
height: 48px;
width:48px;
background-color: gray;
}
.ship_2_block{
display: inline-block;
}
.ship_3_block{
  display: inline-block;
  }
.ship_4_block{
  display:inline-block;
}
.dragAbove{
  background-color: gray;
}